doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800', rel='stylesheet')
    // Animate.css
    link(rel='stylesheet', href='../stylesheets/animate.css')
    // Icomoon Icon Fonts
    link(rel='stylesheet', href='../stylesheets/icomoon.css')
    // Bootstrap
    link(rel='stylesheet', href='../stylesheets/bootstrap.css')
    // Magnific Popup
    link(rel='stylesheet', href='../stylesheets/magnific-popup.css')
    // Owl Carousel
    link(rel='stylesheet', href='../stylesheets/owl.carousel.min.css')
    link(rel='stylesheet', href='../stylesheets/owl.theme.default.min.css')
    // Flexslider
    link(rel='stylesheet', href='../stylesheets/flexslider.css')
    // Theme style
    link(rel='stylesheet', href='../stylesheets/main.css')
    // Modernizr JS
    script(src='javascripts/modernizr-2.6.2.min.js')
    // FOR IE9 below
    //if lt IE 9
      script(src='javascripts/respond.min.js')
  body
    block content
